@charset "utf-8";

/*------------------- 1.Common --------------------*/

:root {
	--main-color:#0a5597;
	--sub-color:#e0781c;
	--light-color:#fff;

	--body-fontface:'UTM Avo', sans-serif;
	--title-fontface:'UTM Avo';
	--subtitle-fontface:'UTM Avo';
}


/* ::-webkit-scrollbar {width: 0px;} */
/* body, html {scrollbar-width: none;} */

body {background: #fff; font-size: 16px;line-height: 1.35rem;font-family: var(--body-fontface);color: #212121;overflow-x: hidden;font-weight: 400;}


ul, ol {margin-bottom:0; padding: 0}
ul li {list-style: none;display: inline-block;}

.form-control::-webkit-input-placeholder { /* Edge */
	color: rgba(0, 0, 0, 0.5);
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgba(0, 0, 0, 0.5);
}
  
.form-control::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.form-control:focus::-webkit-input-placeholder { /* Edge */
	color: rgba(255, 255, 255, 0);
}
  
.form-control:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: rgba(255, 255, 255, 0);
}
  
.form-control:focus::placeholder {
	color: rgba(255, 255, 255, 0);
}

.form-control:focus, .form-control-plaintext:focus {box-shadow: none;outline: none;border-color: #df003a;}
.form-control {height: 48px;padding-top: 2px;padding-bottom: 4px;color: #212121;font-weight: 350;border: none;border-radius: 0;}
.input-group-text {border-radius:0;border:none;background: #fff;}

a {color: var(--main-color);transition: all ease-in-out .2s; cursor: pointer; text-decoration: none;}
a:hover {color: var(--sub-color);}
a:hover, a:focus, button:hover, button:focus {text-decoration: none; outline: none;}
.page-link:focus, .nav-link:focus {box-shadow:none}
button:focus, .btn {outline: none!important;box-shadow: none!important;}

h1, h2, h3, h4, h5, h6 {font-family: var(--title-fontface); line-height: 1.35;}

h2 {font-size: 32px;}
h4 {font-size: 25px;}
h5 {font-family: var(--subtitle-fontface); font-size: 19px;}

.text-sm {font-size: 13px;}
.text-vsm {font-size: 11px;line-height: 1.25;}
.text-underline {text-decoration: underline}

.parallax {background-attachment: fixed;background-position: top center;background-repeat: no-repeat;background-size: 100%;min-height:312px;}

.op-75 {opacity: .75}
.op-50 {opacity: .5}
.op-25 {opacity: .25}
.op-0  {opacity: 0}

.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}

.fz-90 {font-size: 90%}
.fz-80 {font-size: 80%}
.fz-70 {font-size: 70%}
.fz-60 {font-size: 60%}
.fz-50 {font-size: 50%}
.fz-40 {font-size: 40%}

.text-main {color:var(--main-color)!important;}
.text-sub {color:var(--sub-color)!important;}

.btn-add {font-size: 26px;}

.btn-outline-main {background:none; color: var(--light-color); border: 1px solid var(--main-color);}
.btn-link, .btn-link:hover {color:var(--main-color); text-decoration: none;}

.btn-outline-main:hover, .btn-main:hover {color:var(--light-color)}
.btn-outline-main:hover {background:var(--main-color)}

.btn-secondary {border-radius: 0;text-transform: uppercase;background: #f0f0f0;color:#212121;border: none;padding: 6px 20px;font-weight: 350;}

.btn-outline-secondary {border-radius: 0;height: 48px;text-transform: uppercase;}
.btn-outline-secondary:hover {background:var(--main-color); border-color:var(--main-color); color:var(--light-color)}

.btn-facebook, .btn-google {background: #0664ad; color:#fff; text-transform: uppercase; padding-bottom:8px;}
.btn-google {background: #b50505}

.btn-primary {background-color: var(--main-color); border-color: var(--main-color); transition: none;}
.btn-primary:hover {background-color: var(--sub-color); border-color: var(--sub-color);}

.btn-lg {font-size: 20px; padding: 12px 32px;}

.font-weight-semibold {-webkit-text-stroke-width: .4px !important;}

.affix {position: sticky;top: 0px;z-index: 500;background: #fff;position: -webkit-sticky;}

.thumb {background-position: center center; background-repeat: no-repeat; background-size: cover;}
.overlay {position: absolute; left: 0; right: 0; top:0; bottom: 0;}

header, a, a h5, .notify-num, .navbar .navbar-brand, .nav-link, .sec-nav .navbar .navbar-nav {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.swiper-wrapper {margin-bottom:24px}
.swiper-pagination {bottom: 0px !important;}
.swiper-pagination-bullet {background: #cfcfcf;opacity: .5;margin: 0 6px !important;width: 8px;height: 8px;}
.swiper-pagination-bullet-active {opacity: 1;background: var(--sub-color);box-sizing: content-box;vertical-align: middle;}

.swiper-button-next, .swiper-button-prev {width: 56px;height: 56px;border-radius: 50%;border: 1px solid #cbcbcb;}
.swiper-button-next::after, .swiper-button-prev::after {font-size: 22px;font-weight: bold;}
.swiper-button-prev {left:-80px}
.swiper-button-next {right:-80px}
.swiper-button-next:hover, .swiper-button-prev:hover {background-color:var(--sub-color); border-color:var(--sub-color); color:#fff}

.breadcrumb {margin-bottom:0}
.breadcrumb .breadcrumb-item {padding:16px 0 18px; font-size:14px}
.breadcrumb-item+.breadcrumb-item::before {padding-left:.25rem; padding-right:.25rem}

.title-subpage {margin-bottom: 24px;}


.cta-btn {display:inline-block}
.cta-btn a {background:var(--sub-color);border-radius: 5px;display: flex;padding: 0!important;align-items: center;overflow: hidden;}
.cta-btn .cta-text {color:rgba(255, 255, 255, .8);padding: 8px 20px 8px 26px;text-transform: none;margin-top: -3px;-webkit-text-stroke-width: .25px;letter-spacing: .4px;position: relative;left: 0;transition: .2s all;z-index:2;}
.cta-btn .cta-ico {padding: 8px 4px 8px 9px;font-size: 20px;border-radius: 5px 0 0 5px;position:relative;}
.cta-btn .cta-ico i {position:relative; transition: .2s all;right: 0; color:rgba(255, 255, 255, .8)}
.cta-btn .cta-ico:before {content:'';position:absolute;background: #0a5597;width: 72px;height: 72px;top: -17px;border-radius: 0 50% 50% 0;right: -8px;transition: .2s all;}
.cta-btn a:hover .cta-ico i {right: -15px; color:rgba(255, 255, 255, 1)}
.cta-btn a:hover .cta-ico:before {transform: scale(5);} 
.cta-btn a:hover .cta-text {left:-4px; color:rgba(255, 255, 255, 1)}

.cta-btn.ir .cta-ico:before {border-radius:50% 0 0 50%;top: -12px;right: -30px;}
.cta-btn.ir a:hover .cta-ico i {right: 18px;}
.cta-btn.ir a:hover .cta-text {left:8px;}

.load-more .cta-btn .cta-ico {font-size: 32px;}

.btn-outline {border: 1.5px solid var(--main-color);border-radius: 5px;width: 100%;color: var(--main-color);padding: 5px 8px 6px;-webkit-text-stroke-width: .8px;letter-spacing: .4px;overflow:hidden;position:relative;transition:none;}
.btn-outline:hover {color:#fff; border-color:var(--sub-color); background-color:var(--sub-color)}
.btn-outline i {font-size:24px;-webkit-text-stroke-width: .2px;vertical-align: -6px;}
/* .btn-outline:before {content:'';position:absolute;background:var(--sub-color);width: 80px;height: 80px;border-radius:50%;left:-32px;top: -22px;transition: .4s transform, .01s opacity;opacity: 0;}
.btn-outline:hover:before {transform:scale(8); opacity:1;} */
.btn-outline span {position:relative}

.text-truncate-set {display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.text-truncate-set-1 {-webkit-line-clamp: 1;}
.text-truncate-set-2 {-webkit-line-clamp: 2;}
.text-truncate-set-3 {-webkit-line-clamp: 3;}
.text-truncate-set-4 {-webkit-line-clamp: 4;}

.ripple-effect {overflow:hidden;position: relative;}
.ripple-effect span {position:relative}
.ripple-effect::before {content:'';position:absolute;background: #f9f9f9;width: 72px;height: 72px;top: -17px;border-radius: 50%;right: -38px;transition: .3s all;opacity: 0;pointer-events: none;}
.ripple-effect.show:before {transform: scale(7);opacity: 1;} 

.sec-cover {position:relative;}
.cover-content {position:absolute;top: 0;bottom: 32px;margin: auto;text-align: center;color: #fff;left: 0;right: 0;display: flex;flex-direction: column;justify-content: center;}
.cover-content .cover-title-filled, .primary-title .cover-title-filled {text-transform:uppercase;font-weight: bold;font-size: 46px;position: relative;left: -54px;display: block;color: #fff;-webkit-text-stroke-width: initial;letter-spacing: 0;bottom: -37px;}
.cover-content p {text-transform:uppercase;margin-top: -8px;}
.cover-content h3, .primary-title h3 {text-transform:uppercase;font-size: 72px;letter-spacing: 6px;font-weight: bold;color: rgba(255,255,255,0);-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: var(--sub-color);position: relative;top: -45px;right: -24px;display: inline-block;margin-bottom: 0;text-align: left;}
.cover-content h3:after, .primary-title h3:after {content:'';background:var(--sub-color);height: 4px;width: 80px;position:absolute;right: 5px;bottom: -8px;}


.cover-review::before {content:'';left:0;bottom:0;top:0;position: absolute;background: var(--sub-color) url('../images/bg-ft-left.svg') no-repeat bottom left;width: calc((100% - 1140px + 271px)/2);background-size: 180px;}
.cover-man {position: absolute;bottom: 0;top: 0;display: flex;align-items: end;}
.cover-man::before {content:'';bottom:0;top:0;left:0;right:50%;/* background-color:var(--sub-color); */position:absolute;}
.cover-man img {position:relative;}

.primary-title {padding-top:16px;}
.primary-title h3 {-webkit-text-stroke-width: initial;color: var(--sub-color);font-size: 40px;letter-spacing: .4px;right: 0;}
.primary-title .cover-title-filled {color:#8d8d8d;left:0;font-size: 25px;bottom: -8px;}


.dropdown .dropdown-item {display:flex; width:100%; justify-content:space-between; align-items:center}
.dropdown .dropdown-item.checked {background-color: rgb(10 85 151 / 12%);color: var(--main-color);-webkit-text-stroke-width: 0.25px;}


.hire-sec, .main-content-wrap {padding-top: 40px;padding-bottom: 64px;}
.partner-sec, .broker-sec, .project-sec, .sales-sec, .news-sec {padding: 56px 0 64px;}

.outline-effect {position: relative;}
.outline-effect::before {content:'';top: 0px; bottom: 0px; right:0px; left:0px; border:1px solid var(--sub-color); position:absolute; border-radius: 3px; opacity:0; transition:.2s all}
.outline-effect:hover::before {top: 8px;bottom: -4px;right: -4px;left: 8px; opacity:1;}


.time-box {font-weight:bold;font-size:24px;padding-right:12px;border-right:1px solid var(--sub-color);margin-right:12px;text-align: center;}
.time-box span:nth-of-type(1) {display:block; padding-bottom:6px; font-size:28px; letter-spacing:.1px; margin-top:-4px}

.text-quote {position: relative;padding-left: 38px;}
.text-quote span {font-size: 90px;font-family: arial;font-style: normal;color: #888;position: absolute;}
.text-quote span:nth-of-type(1) {top: 24px;left:0;}
.text-quote span:nth-of-type(2) {bottom:-28px;padding-left:12px}

/* .text-quote::before, .text-quote::after {position: absolute; content:''; width: 24px;; height: 24px; background-repeat: no-repeat; background-position: center center;}
.text-quote::before {background-image: url(../images/icon-quote-1.svg); left: 0;}
.text-quote::after {background-image: url(../images/icon-quote-2.svg); right: 0;} */

.gg-map {border: 16px solid #fff;box-shadow: 0px 1px 4px rgba(0,0,0,.1), 1px 4px 12px rgba(0,0,0,.08);}

.lr-ct-d, .lr-ct-h {display: flex;/* flex-wrap: wrap; */justify-content: space-between;}

.lr-ct h4 {text-transform: uppercase; font-size: 20px; -webkit-text-stroke-width: 0.6px; letter-spacing: .4px; margin-bottom: 1.25rem;}
.lr-ct-h {margin-bottom:1rem;border-bottom: 1px solid #f2f2f2;padding-bottom: 8px;}
.lr-ct-r {margin-bottom:1rem}
.lr-ct-r h5 {text-transform: uppercase; font-size: 15px; font-weight: bold;}
.lr-ct-d {font-size: 14px;padding: 6px 0;}
.lr-ct-d i {align-self:start;width: 28px;height: 28px;display: inline-flex;justify-content: center;align-items: center;background-color: var(--main-color);border-radius: 50%;color: #fff;font-size: 18px;margin-right: 8px !important;transition:.2s all;flex: 0 0 auto;}
.lr-ct-d:hover i {background-color:var(--sub-color)}
.lr-ct-d span:nth-of-type(1) {display:flex}
.lr-ct-d span:nth-of-type(2) {color: #444;text-align: right;}
.lr-ct-d:nth-last-of-type(n+2) {border-bottom: 1px solid #f2f2f2;}

.sec-search .sec-search-wrap {background-color: #fff;box-shadow: 0px 1px 4px rgba(0,0,0,.1), 1px 4px 12px rgba(0,0,0,.08);border-radius: 5px;padding: 20px 24px;margin-top: -24px;position: relative;}



.video-popup .modal-content, .search-popup .modal-content {background: none;border: none;}
.video-popup button.close, .search-popup button.close {font-size:40px;color: #fff;text-shadow: none;position: absolute;right: -80px;background: none;box-shadow: none;border: none;}
.modal-backdrop {background:#1c1f27}
.modal-backdrop.show {opacity: .9;}

@media (min-width: 769px) {
	.scrollbar {
		scrollbar-width: thin;
		scrollbar-color: var(--sub-color) #fafafa;
		-ms-scrollbar-highlight-color: #fafafa;
		-ms-scrollbar-face-color:  var(--sub-color);
		-ms-scrollbar-arrow-color: rgba(0,0,0,0);
	}
	.scrollbar::-webkit-scrollbar {width: 8px;}
	.scrollbar::-webkit-scrollbar-track {background: #fafafa;}
	.scrollbar::-webkit-scrollbar-thumb {background: var(--sub-color); border-radius: 8px; height: 40px}
	.scrollbar::-webkit-scrollbar-thumb:hover { background: var(--sub-color);;}

}
	