.primary-form {}
.primary-form .form-control {background:none; border-bottom:1px solid #444; padding-left:0; padding-right:0}
.primary-form label {padding-left:0;}
.primary-form .form-control:focus ~ label, .primary-form .form-floating>.form-control:not(:placeholder-shown)~label {left:-3px}
.primary-form textarea.form-control {height: auto;}
.primary-form .form-control:focus {border-color:var(--main-color); border-width:2px}
.primary-form .cta-btn a:hover .cta-ico:before {transform: scale(6);}
.primary-form .form-check {padding-left: 1.75em;cursor: pointer;}
.primary-form .form-check-label {cursor: pointer;}
.primary-form .form-check .form-check-input {margin-top: 3px;margin-left: -1.75em;width: 1.2em;height: 1.2em;border-radius: 2px;}
.form-check-input:focus, .form-control:focus, .form-select:focus {box-shadow:none}
.form-check-input:checked {background-color:var(--main-color); border-color: var(--main-color)}


.search-input {background-color: #f2f2f2; border-radius: 3px;}
.search-input input, .search-input input:focus, .search-input .input-group-text, .select-input .input-group-text {background: none;}
.select-input {position:relative}
.select-input {border: 1px solid #ced4da; border-radius: 3px;}
.select-input select {border: none;height: 46px;padding-left: 40px;margin-left: -44px !important;background-color: transparent;}
.select-input i, .search-input i {font-size:20px}